{% load static %}


<!-- ##### Header Area Start ##### -->

<header>
  <ul class="flex-container">
    <!-- Button Extrato -->
    <!-- <li><button type="button" class="btnExtrato btn-light" style="padding: 3px 10px 3px;" data-bs-toggle="modal" data-bs-target="#cadastrar_receita">Cadastrar Receita</button></li> -->
    <li><div style="color:royalblue;"><b>Receita</b></label></div></li>
    <li><div style="color:darkcyan;"><b>Total</b></label></div></li>
    <li><div style="color:crimson;"><b>Despesa</b></label></div></li>
    <!-- Button Balanço-->
    <!-- <li><button type="button" class="btnBalanco btn-light" style="padding: 3px 10px 3px;" data-bs-toggle="modal" data-bs-target="#cadastrar_despesa">Cadastrar Despesa</button></li> -->
  </ul>
</header>

  <!-- ##### Header Area End ##### -->
