{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- main start-->
<main>
  <!-- Section Receita start-->
  <section class="row cadastro_extrato">
    <!-- Cadastro Receita start-->
    {% include 'partials/_alertas.html' %}
    <div class="col-11 col-md-3 col-lg-3 cadastro">
      <h3 style="color:royalblue;" class="text-center"><strong>RECEITAS</strong></h3>
      <form action="{% url 'cadastrar_receita' %}" method="post">
        {% csrf_token %}
        {{ formR.as_p }}
        <button class="btnReceita text-center" type="submit">Salvar</button>
      </form>
    </div>
    <!-- Cadastro Receita end-->
    <!-- Extrato start-->
    <div class="col-11 col-md-5 col-lg-5 extrato">
      <h3 style="color:darkcyan;" class= "text-center"><strong>EXTRATO</strong></h3>
      <table class="tablesorter table_extrato">
        <thead>
          <tr>
            <th scope="col"><span class="sortpriority"></span><div class="text-center">Data</div></th>
            <th scope="col"><div class="text">Descrição</div></th>
            <th scope="col"><div class="text">Categoria</div></th>
            <th scope="col"><div class="text">Valor</div></th>
            <th scope="col"><div class="text">Forma</div></th>
            <th scope="col"><div class="text">Editar</div></th>
            <th scope="col"><div class="text">Apagar</div></th>
          </tr>
        </thead>
        <tbody class="tbody_Extrato" >
          {% if despesas %}
          {% for despesa in despesas %}
          <tr class="tr_Despesa">
            <td><div class="text-center">{{ despesa.data|date:"d/m/Y" }}</div></td>
            <td><div style="color:crimson;">{{ despesa.descricao }}</div></td>
            <td><div>{{ despesa.categoria }}</div></td>
            <td><div style="color:crimson;">- {{ despesa.valor }}</div></td>
            <td><div>{{ despesa.forma }}</div></td>
            <td><a href="{% url 'editar_despesa' despesa.id %}" type="button" class="btnEditar text-decoration-none" >Editar</a></td>
            <td><a href="{% url 'apagar_despesa' despesa.id %}" type="button" class="btnApagar text-decoration-none">X</a></td>
          </tr class="tr_Receita">
          {% endfor %}
          {% else %}
          {% endif %}
          {% if receitas %}
          {% for receita in receitas %}
          <tr>                    
            <td><div class="text-center">{{ receita.data|date:"d/m/Y" }}</div></td>
            <td><div style="color:royalblue;">{{ receita.descricao }}</div></td>
            <td><div>{{ receita.categoria }}</div></td>
            <td><div style="color:royalblue;">{{ receita.valor }}</div></td>
            <td><div>{{ receita.forma }}</div></td>
            <td><a href="{% url 'editar_receita' receita.id %}" type="button" class="btnEditar text-decoration-none">Editar</a></td>                   
            <td><a href="{% url 'apagar_receita' receita.id %}" type="button" class="btnApagar text-decoration-none">X</a></td>
          </tr>
          {% endfor %}
          {% else %}
          {% endif %}
        </tbody>
      </table>   
    </div>
    <!-- Extrato End-->
    <!-- Cadastro Despesa start--> 
    {% include 'partials/_alertas.html' %}   
    <div class="col-11 col-md-3 col-lg-3 cadastro">
      <h3 style="color:crimson;" class= "text-center"><strong>DESPESAS</strong></h3>
      <form action="{% url 'cadastrar_despesa' %}" method="post">
        {% csrf_token %}
        {{formD.as_p}}
        <button class="btnDespesa text-center" type="submit">Salvar</button>
      </form>
    </div>
    <!-- Cadastro Despesa End-->
  </section>
  <!-- Cadastro_Extrato End-->
</main> 
<!-- main end-->

{% endblock %}
