{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_alertas.html' %}
<div class="d-flex justify-content-center">
  <div class="col-12 col-md-4 col-lg-4 section-margin-100-100 boxPagina">
    <h3 style="color:royalblue;" class="text-center"><strong>Editar Receita</strong></h3>
    <form action="{% url 'atualizar_receita' %}" method="post">
      {% csrf_token %}
      {{formR.as_p}}
      <button class="btnReceita text-center" type="submit">ATUALIZAR</button>
    </form>
  </div>
</div>

{% endblock %}
